@model IEnumerable<INEQ.Models.Equipment>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarehouseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoftekId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarehouseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoftekId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
